html,
body {
  height: 100%;
  overflow: hidden;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(110,223,241);
  background: radial-gradient(circle, rgba(110,223,241,1) 0%, rgba(174,119,233,1) 100%);
}